body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #31afb4;
}

.header {
    width: 100%;
    background: rgb(223, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

i {
    color: #31afb4;
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}